<app-navbar></app-navbar>
<div>
  <div *ngIf=" router.url==='/'">
    <div class=" bg-text">
      <h1>Protection you can trust</h1>
      <h1>from the leader in cyber security!</h1>
      <br><br><br>
      <p id="p1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis, labore debitis nesciunt ipsam
        odio corporis architecto reiciendis voluptas ab quibusdam ratione rerum tempore voluptatibus libero cumque
        dignissimos vero hic! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis, labore debitis
        nesciunt ipsam odio corporis architecto reiciendis voluptas ab quibusdam ratione rerum tempore voluptatibus
        libero cumque dignissimos vero hic!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis,
        labore debitis nesciunt ipsam odio corporis architecto reiciendis voluptas ab quibusdam ratione rerum tempore
        voluptatibus libero cumque dignissimos vero hic!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
        facilis, labore debitis nesciunt ipsam odio corporis architecto reiciendis voluptas ab quibusdam ratione rerum
        tempore voluptatibus libero cumque dignissimos vero hic!</p>

    </div>
  </div>
</div>
<router-outlet></router-outlet>
