<div>
  <section class="background d-flex flex-column justify-content-center">
    <div class="container"></div>
  </section>
</div>

<table mat-table [dataSource]="userCertificates" class="mat-elevation-z8">
  <ng-container matColumnDef="serialNum">
    <th mat-header-cell *matHeaderCellDef>Serial num.</th>
    <td mat-cell *matCellDef="let element">{{ element.isRevoked }}</td>
  </ng-container>

  <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef>Subject</th>
    <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
  </ng-container>

  <ng-container matColumnDef="issuer">
    <th mat-header-cell *matHeaderCellDef>Issuer</th>
    <td mat-cell *matCellDef="let element">{{ element.issuer }}</td>
  </ng-container>

  <ng-container matColumnDef="validPeriod">
    <th mat-header-cell *matHeaderCellDef>Valid period</th>
    <td mat-cell *matCellDef="let element">
      {{ element.validFrom | date: "shortDate" }} -
      {{ element.validTo | date: "shortDate" }}
    </td>
  </ng-container>
  <ng-container matColumnDef="viewCert">
    <th mat-header-cell *matHeaderCellDef>View Certificate</th>
    <td mat-cell *matCellDef="let element">
      <section>
        <button mat-raised-button color="primary">View</button>
      </section>
    </td>
  </ng-container>

  <ng-container matColumnDef="download">
    <th mat-header-cell *matHeaderCellDef>Download Certificate</th>
    <td mat-cell *matCellDef="let element">
      <section>
        <button mat-raised-button color="primary">Download</button>
      </section>
    </td>
  </ng-container>

  <ng-container *ngIf="isAdmin" matColumnDef="withdraw">
    <th mat-header-cell *matHeaderCellDef>Withdraw Certificate</th>
    <td mat-cell *matCellDef="let element">
      <section>
        <button
          *ngIf="!element.isRevoked"
          mat-raised-button
          color="warn"
          (click)="revokeCertificate(element)"
        >
          Withdraw
        </button>
        <button
          *ngIf="element.isRevoked"
          mat-raised-button
          color="warn"
          [disabled]="true"
        >
          Withdrawn
        </button>
      </section>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
