<!-- <div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <ng-container [formGroup]="this.myFormGroup">
                <div class="mb-3">
                  <label for="email" class="form-label">Email address:</label>
                  <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password:</label>
                  <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
                </div>
                <div class="d-grid col-6 mx-auto">
                  <button class="btn btn-primary" (click)="onClickSubmit()">Submit</button>
                </div>
            </ng-container>
        </div>
    </div>
</div> -->

<div class="center">
  <h1>Login</h1>
  <form method="post" [formGroup]="this.myFormGroup">
    <div class="txt_field">
      <!-- <input type="text" required> -->
      <input type="email" id="email" placeholder="Email" formControlName="email">
      <span></span>
      <label>Username</label>
    </div>
    <div class="txt_field">
      <!-- <input type="password" required> -->
      <input type="password" id="password" placeholder="Password" formControlName="password">
      <span></span>
      <label>Password</label>
    </div>
    <!-- <input type="submit" value="Login"> -->
    <input type="submit" (click)="onClickSubmit()" value="Login">
    <div class="signup_link">
      Not a member? <a [routerLink]="['register']">Register</a>
    </div>
  </form>
</div>